
/* COLOR PALETTE: */

/*

All colors are lighter on top to darker at the bottom

White:
          #FFFFFF

Grays:
          #F3F3F3    <-- lighter
          #EEEEEE
          #DDDDDD    <-- darker

Blue:  
          #A0D2FF
          #53ADFF
          #0088FF

Green:
          #91F8D3
          #45DFA7
          #00BF7A

Magenta:
          #F8CFFF
          #F3A7FF
          #ED7BFF

Orange:
          #FFC39D
          #FF9A5A
          #FF8033

*/

title {
  color: #FFFFFF;
  letter-spacing: 7px;
  text-align: center;
  font-size: 40px;
}

h1 {
  letter-spacing: 2px;
  text-align: center;
  font-size: 30px;
}

p {
  font-family: Georgia, serif;
  font-size: 20px;
}

body {
  padding-top:1%;
}
 .content{
  background-color: #F2F2F2;

  margin: auto;
  /* min-height: 700px; */
  padding: 50px;
  width: 80%;
  
  
}
iframe{
  padding-top:1%;}
header {
  padding-bottom:1%;
  background-color: #7CDE7C;
  width: 80%;
  /* don't forget about hexcolors*/
}
/* From W3Schools */

/* Create two equal columns that floats next to each other */
.column {
  float: center;
  width: 50%;
  padding: 10px;
  height: 50%; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

*{  border-radius: 25px;}
